<!doctype html>
<html>
<% include ../partials/head %>
<body>
	<% include ../partials/header %>
	<div class="container">
	
		<div class="jumbotron text-center">
			<h1><span class="fa"></span> Admin home</h1>

		</div>
	
		<div class="row">

			<!-- USER MANAGEMENT -->
			<div class="col-sm-6 btnSeparator">
				<a href="/admin/users" class="col-sm-12 btn btn-info cstmBtn">
					<h3>
						<span class="fa fa-user"></span> User Management
					</h3>
				</a>
			</div>

			<!-- POKEMON MANAGEMENT -->
			<!-- <div class="col-sm-6 btnSeparator">
				<a href="/admin/pokemons" class="col-sm-12 btn btn-primary cstmBtn">
					<h3>
						<span class="fa ci pokeball-icon"></span> Pokemon Management
					</h3>
				</a>
			</div> -->
		</div>

		<!-- <div class="row"> -->

			<!--  -->
			<!-- <div class="col-sm-6 btnSeparator">
				<a href="/test/users" class="col-sm-12 btn btn-warning cstmBtn"><h3><span class="fa fa-user"></span> User Management</h3></a>
			</div> -->

			<!--  -->
			<!-- <div class="col-sm-6 btnSeparator">
				<a href="/test/users" class="col-sm-12 btn btn-danger cstmBtn"><h3><span class="fa fa-user"></span> User Management</h3></a>
			</div> -->
		<!-- </div> -->

	</div>
	<% include ../partials/footer %>
</body>
</html>