<!doctype html>
<html>
<% include ./partials/head %>
<body>
	<% include ./partials/header %>
	<div class="container">
	
		<div class="jumbotron text-center">
			<h1><span class="fa"></span><%= pageTitle %></h1>
		</div>

		<div class="jumbotron text-center">
			<h2><span class="fa"></span><%= message %></h2>
		</div>
		
		<div class="jumbotron text-center">
			<h3><span class="fa"></span><%= code %></h3>
		</div>
	
	</div>
	<% include ./partials/footer %>
</body>
</html>