<!doctype html>
<html>
<% include ./partials/head %>
<body>
	<% include ./partials/header %>
	<div class="container">
	
		<div class="jumbotron text-center">
			<h1><span class="fa"></span> Home</h1>			
		</div>
		<hr>
		<div>

			<h2> POST /user/signup</h2>
			<p>
				In de body van de post request wordt de volgende data meegestuurd: 
				<br/>
					username: {“your username”} 
				<br/>
					password: {“your password”} 
				<br/>
			</p>
		</div>
	
	</div>
	<% include ./partials/footer %>
</body>
</html>